body {
    background-color: black; /* Set the background color to black */
    color: white; /* Set the default text color to white for better readability */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.searchFilterContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
}

.searchBox {
    margin-left: 10px;
    width: 30%;
    display: flex;
}

.searchBox .formControlCustom {
    border-radius: 10px;
    background-color: #333; /* Grey background color */
    color: #ccc; /* Ensures text color is readable on dark background */
    border: 1px solid #555;
}

.searchBox .formControlCustom::placeholder {
    color: #ccc; /* Ensures text color is readable on dark background */
}

.searchBox .formControlCustom:focus, .searchBox .formControlCustom:active {
    background-color: #333; /* Maintain grey background on focus */
    color: #ccc; /* Maintain text color on focus */
    border: 1px solid #555; /* Maintain border color on focus */
}

.filterDropdown {
    display: flex;
    align-items: center;  /* This aligns children (icon and text) on the horizontal axis */
    justify-content: center;
    margin-left: 10px;
}

.filterDropdown svg {
    margin-right: 8px; /* Space between icon and text */
}

.chooseDisplay {
    display: flex;
    gap: 0; /* Ensure there's no gap between the buttons */
}

.chooseDisplay .leftButton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0; /* Ensure there's no margin to the right */
    width: 100px; /* Set fixed width */
    height: 40px; /* Set fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chooseDisplay .rightButton {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0; /* Ensure there's no margin to the left */
    width: 100px; /* Set fixed width */
    height: 40px; /* Set fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleryContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding-bottom: 40px; /* Add padding to create space at the bottom */
}

.spacer {
    height: 100px; /* Adjust this value to provide the desired space at the bottom */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between elements horizontally */
    background-color: black; /* Ensure this matches the rest of your design */
    z-index: 1000; /* Ensure the header stays above other content */
    padding: 10px 20px; /* Add some padding to manage spacing inside the header */
    box-sizing: border-box; /* Include padding in element's total width and height */
    height: 100px; /* Set a fixed height for the header */
}

.logo {
    width: 9%;
    height: auto; /* Keep the aspect ratio of the logo */
}

.mainContent {
    margin-top: 100px; /* Adjust this value to prevent content from being hidden behind the fixed header */
}

.download {
    width: 15%;
    height: auto; /* Keep the aspect ratio of the logo */
    margin-right: 50px;
}


.modal-header, .modal-footer {
    color: #333; /* Grey background color */
}

.modal-body {
    color: #333; /* Grey background color */
}

/* styles/imageGallery.css */
.galleryContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryContainer .spacer {
    height: 20px;
}

.custom-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* 70% transparency for darker background */
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    pointer-events: auto; /* Ensure clicks are allowed */
    cursor: pointer;
}

.custom-overlay .copy-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px; /* Smaller size for the icon */
    cursor: pointer;
    color: white; /* Ensure the icon is white */
}

.custom-overlay .overlay-text {
    padding-top: 30px; /* Space for the icon */
    font-size: 12px; /* Smaller text size */
    font-weight: bold;
}


.custom-tag-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.3s ease;
}

.custom-tag {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Dark, semi-transparent background */
    color: #fff !important; /* White text */
    border-radius: 4px !important;
    padding: 4px 8px !important;
    margin: 2px !important;
    font-size: 12px !important;
}

.react-grid-gallery .tile .custom-tag-container {
    opacity: 1; /* Visible by default */
}

.react-grid-gallery .tile:hover .custom-tag-container {
    opacity: 0; /* Disappear on hover */
}